<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Prayer Card</h1>
  </ion-header-bar>
  <ion-content>
    <div class="list">
      <label class="item item-input item-floating-label">
        <span class="input-label">Title</span>
        <input type="text" ng-model="prayercard.title" placeholder="Title">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Body</span>
        <textarea ng-model="prayercard.body" placeholder="Body" style="height: 100px;"></textarea>
      </label>
    </div>
  </ion-content>
  <ion-footer-bar class="text-right">
    <button class="button button-clear button-dark" ng-click="closeModal()">CANCEL</button>
    <button class="button button-clear button-balanced" ng-click="savePrayerCard()">OK</button>
  </ion-footer-bar>
</ion-modal-view>