<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="passwordLogin()">
      <div class="list">
        <label class="item item-input item-floating-label">
          <span class="input-label">Email</span>
          <input type="text" ng-model="loginData.email" placeholder="Email">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Password</span>
          <input type="password" ng-model="loginData.password" placeholder="Password">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Log In</button>
        </label>
      </div>
    </form>
    
    <div class="list">
      <label class="item">
        <span class="input-label">Log In With</span>
        
        <button class="button button-round icon ion-social-google button-assertive" ng-click="socialLogin('google')"></button>
      
        <button class="button button-round icon ion-social-facebook button-positive" ng-click="socialLogin('facebook')"></button>
      
        <button class="button button-round icon ion-social-twitter button-calm" ng-click="socialLogin('twitter')"></button>
      </label>
    </div>
  </ion-content>
</ion-modal-view>
