<ion-view view-title="My Prayer Cards">
  <ion-nav-buttons side="secondary">
    <!-- Pinned Only toggle -->
    <div class="text-right" ng-click="togglePinnedOnly()" style="margin-top: 5px;">
      <label class="toggle toggle-positive">
        <input type="checkbox" ng-model="pinnedonly">
        <div class="track">
          <div class="handle">
            <i class="handle-icon icon ion-pin"></i>
          </div>
        </div>
      </label>
    </div>
  </ion-nav-buttons>
  <div class="bar bar-subheader">
    <h2 class="title">{{prayerlist.title}}</h2>
  </div>
  <ion-content style="margin-top: 43px;">
    
    {{prayerlist.desc}}
    
    <ion-list can-swipe="true">
      <ion-item ng-repeat="prayercard in prayercards | filterPinned:pinnedonly" href="#/app/prayerlists/{{prayerlist.$id}}/cards/{{prayercard.$id}}">
        <i class="icon {{prayercard.pinned ? 'ion-pin positive' : 'ion-ios-photos-outline'}} list-item-icon"></i>
        {{prayercard.title}}
        
        <!--<span class="badge badge-stable" style="right: 64px;">0</span>-->
        <span class="badge badge-stable">
          <i class="icon ion-chatbubble list-item-icon" style="font-size: 22px; margin-right: 2px;"></i>
          {{prayercard.comments.length}}
        </span>
        
        <!-- Action buttons -->
        <ion-option-button class="button-assertive icon ion-trash-b" ng-click="deleteCard(prayercard)"></ion-option-button>
        <!--<ion-option-button class="button-balanced icon ion-compose" ng-click="openPrayerCard(prayerlist.$id, prayercard.$id)"></ion-option-button>-->
        <ion-option-button class="button-positive icon ion-pin" ng-click="pinPrayerCard(prayercard)"></ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
  
  <div class="float-button" ng-click="newPrayerCard()">
    <span class="height-fix">
      <a class="content">
        <i class="ion-plus"> </i>
      </a>
    </span>
  </div>
</ion-view>
