<ion-view view-title="My Prayer Cards">
  <div class="bar bar-subheader" style="clear: both;">
    <h2 class="title">{{prayerlist.title}}</h2>
    <div class="text-right">
      <label class="toggle toggle-positive">
        <input type="checkbox" ng-model="pinnedonly">
        <div class="track">
          <div class="handle">
            <i class="handle-icon icon ion-pin"></i>
          </div>
        </div>
      </label>
    </div>
  </div>
  <ion-content style="margin-top: 43px;">
    
    {{prayerlist.desc}}
    
    <ion-list>
      <div collection-repeat="prayercard in prayercards | filterPinned:pinnedonly" class="card">
        
        <ion-header-bar align-title="left" class="bar-stable">
          <h1 class="title">{{prayercard.title}}</h1>
          
          <div class="buttons">
            <button class="button button-clear button-stable button-icon ion-trash-b" ng-click="deleteCard(prayercard)"></button>
            <button class="button button-clear button-stable button-icon ion-compose" ng-click="editPrayerCard(prayercard)"></button>
            <button class="button button-clear {{prayercard.pinned ? 'button-positive' : 'button-stable'}} button-icon ion-pin" ng-click="pinPrayerCard(prayercard)"></button>
          </div>
        </ion-header-bar>
        
        <div class="item item-text-wrap" style="margin-top: 43px;">
          <md ng-model="prayercard.body"></md>
        </div>
      </div>
    </ion-list>
  </ion-content>
  
  <div class="float-button" ng-click="newPrayerCard()">
    <span class="height-fix">
      <a class="content">
        <i class="ion-plus"> </i>
      </a>
    </span>
  </div>
</ion-view>
